[submodule "gFTL"]
	path = gFTL
	url = https://github.com/Goddard-Fortran-Ecosystem/gFTL.git
[submodule "gFTL-shared"]
	path = gFTL-shared
	url = https://github.com/Goddard-Fortran-Ecosystem/gFTL-shared.git
